body {
    margin: 0;
    background-color: #000;
    color: white;
    font-family: Arial, sans-serif;

    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}


nav {
    display: flex;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.search {
    display: flex;
    gap: 15px;
    align-items: center;
}

.search input {
    background: #111;
    border: 1px solid #333;
    color: white;
    padding: 6px;
}

main {
    padding: 50px 4%;
    background: linear-gradient(rgba(0,0,0,0.7), #000),
    url("arka-plan.jpg");
    background-size: cover;
}

.büyükEkran {
    display: flex;
    gap: 15px;
    margin: 15px 0;
}

.yas {
    border: 1px solid white;
    padding: 2px 6px;
}


#playNow {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background: #ff4d00;
    padding: 12px 28px;
    color: white;
    text-decoration: none;
    border-radius: 6px;
    margin-top: 15px;
}


.baslik {
    display: flex;
    justify-content: space-between;
    padding: 0 4%;
    margin-top: 40px;
}

.filmler {
    display: flex;
    gap: 20px;
    padding: 20px 4%;
}


.film {
    width: 180px;
    position: relative;
}

.film img {
    width: 180px;
    height: 260px;
    object-fit: cover;
    border-radius: 8px;
    display: block;
}

.film a {
    position: absolute;
    bottom: 10px;
    left: 10px;

    background: rgba(0, 0, 0, 0.75);
    color: white;

    font-size: 12px;
    padding: 6px 10px;
    border-radius: 4px;

    display: flex;
    align-items: center;
    gap: 6px;

    text-decoration: none;
}

.film a:hover {
    background: rgba(0, 0, 0, 0.9);
}


footer {
    margin-top: auto;
    padding: 30px 4%;
    border-top: 1px solid #222;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}


footer .socials {
    display: flex;
    gap: 20px;
}

footer .socials a {
    color: white;
    font-size: 22px;
    transition: 0.3s;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 30px 5%;
    background-color: #000;
    border-top: 1px solid #222;
}

.sosyal-medya, .app-ikonları {
    display: flex;
    align-items: center; 
    gap: 15px;
}

.sosyal-medya , .app-ikonları  {
    margin: 0; 
    white-space: nowrap; 
    color: white;
    font-weight: bold;
}


.ikonlar, .app-ikonları {
    display: flex;
    gap: 10px;
}

.ikonlar img { height: 20px; width: auto; }
.app-ikonları img { height: 30px; width: auto; }

footer a {
    color: #808080 !important;
    text-decoration: none;
}
.yazı{
    color: white;
    text-decoration: none;
}
main{
    background-image: linear-gradient(rgba(67, 64, 64, 0.75), rgba(67, 64, 64, 0.75)) , url(netflix-dizileri.jpg);
}